html, body {
  display: flex;
  height: 100%;
}

body {
  padding-bottom: 10px
}

.chat-app-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.chat-header {
  display: flex;
  color: white;
  width: 500px;
}

.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.chat-messages {
  display: flex;
  justify-content: flex-end;
  overflow-y: scroll;
  font-size: 8px;
  width: 500px;
  height: 250px;
}

.chat-input {
  display: flex;
  width: 500px;
}

ul, ul.panel-body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.odd {
  background: #eee;
}

.message-row {
  list-style-type: none;
  padding: 4px 12px;
  display: flex;
}

.message-row img {
  padding-right: 1em;
  /* flex: auto; */
  border-radius: 15px;
}

.message-row p {
  /* flex: auto; */
  font-size: 12px;
}

.me {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
}

.me img{
  padding-right: 0;
  padding-left: 1em;
}

.me p {
  text-align: right;
}

.message-username {
  font-weight: bold;
}

.message-message {
  display: block;
}

.message-username + .timestamp {
  padding-left: 8px;
}

.timestamp {
  font-style: italic;
  /*        display: block; */
}

.jumbotron {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  background-image: url('img/blackjack_table_1280x800.png');
  background-size: cover;
  background-color: transparent;
  margin-bottom: 0;
  margin-right: 15px;
}
