html, body {
  display: flex;
  height: 100%;
}

body {
  padding-bottom: 10px
}

.chat-app-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.chat-header {
  display: flex;
  color: white;
  width: 500px;
}

.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.chat-messages {
  display: flex;
  justify-content: flex-end;
  overflow-y: scroll;
  font-size: 8px;
  width: 500px;
  height: 250px;
}

.chat-input {
  display: flex;
  width: 500px;
}

ul, ul.panel-body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.odd {
  background: #eee;
}

.message-row {
  list-style-type: none;
  padding: 4px 12px;
  display: flex;
}

.message-row img {
  padding-right: 1em;
  /* flex: auto; */
  border-radius: 15px;
}

.message-row p {
  /* flex: auto; */
  font-size: 12px;
}

.me {
  /* justify-content: flex-end; */
  flex-direction: row-reverse;
}

.me img{
  padding-right: 0;
  padding-left: 1em;
}

.me p {
  text-align: right;
}

.message-username {
  font-weight: bold;
}

.message-message {
  display: block;
}

.message-username + .timestamp {
  padding-left: 8px;
}

.timestamp {
  font-style: italic;
  /*        display: block; */
}

.jumbotron {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

  background-image: url('img/blackjack_table_1280x800.png');
  background-size: cover;
  background-color: transparent;
  margin-bottom: 0;
  margin-right: 15px;
}

/*black jack css*/
body {
font-family:sans-serif;
padding:1em;
}
#yourHand {
overflow:hidden;
position:relative;
border:1px solid #056B42;
border-radius:3px;
background: #800000;
color:#fff;
padding:.5em;
font-size:1em;
height:30em;
width:25em;
}
.card {
background:#fff;
border: 1px solid #000000;
border-radius:4px;
font-size: 20pt;
float: left;
width:  3.75em;
height: 5em;
padding:.1em;
margin-right:-1em;
font-family:serif;
}
.card:first-child {margin-left:0;}

.Spades, .Clubs {color:black}
.Diamonds, .Hearts {color:red}


#hitMe, #stand {display:none;}
#yourScore .digits {color:#FFF; font-weight:700}
#wins {color:#056B42;}
#losses {color:#F16D17;}

.bottom-align-text
{
  position: absolute;
    bottom: 0;
    right: 0;
}

.whitefont{
  color: #fff;
}
